body {
    text-align: center;
    margin-top: 50px;
}

#dogImage {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;
}

html, body {
    height: 100%; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}



@media only screen and (max-width: 600px) {
    body {
        margin-top: 20px;
    }

    #dogImage {
        min-width: 150%; 
        margin-top: 15px;

    }
}
